{% load static %}
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wahyu Tirta Wardana | Portfolio</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              dark: "#1f2937",
              primary: "#3b82f6",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-gray-50 text-dark antialiased">
    {% block content %} {% endblock %}
  </body>
</html>
